<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="text-align: center">
    <h1>Word Counter Game</h1>
    <form method="POST" action="counter">
      {% csrf_token %}
      <h3>Input your text below:</h3>
      <textarea name="words" rows="10" cols="50"></textarea>
      <br />
      <input type="submit" />
    </form>
  </body>
</html>
